name: Build and test

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
    - "*"

jobs:
  build:
    strategy:
      matrix:
        name: [ubuntu-gcc-9,
               ubuntu-gcc-9-mpi,
               ubuntu-gcc-10,
               ubuntu-gcc-11,
               ubuntu-gcc-12,
               ubuntu-clang-13,
               macos-xcode-13,
               macos-xcode-14,
               windows
               ]

        include:

          - name: ubuntu-gcc-9
            os: ubuntu-latest
            compiler: gcc
            version: "9"
            mpi: false
            beagle: false

          - name: ubuntu-gcc-9-mpi
            os: ubuntu-latest
            compiler: gcc
            version: "9"
            mpi: true
            beagle: false

          - name: ubuntu-gcc-10
            os: ubuntu-latest
            compiler: gcc
            version: "10"
            mpi: false
            beagle: true

          - name: ubuntu-gcc-11
            os: ubuntu-latest
            compiler: gcc
            version: "11"
            mpi: false
            beagle: false

          - name: ubuntu-gcc-12
            os: ubuntu-22.04
            compiler: gcc
            version: "12"
            mpi: false
            beagle: false

          - name: ubuntu-clang-13
            os: ubuntu-latest
            compiler: clang
            version: "13"
            mpi: false
            beagle: false

          - name: macos-xcode-13
            os: macos-latest
            compiler: xcode
            version: "13"
            mpi: false
            beagle: false

          - name: macos-xcode-14
            os: macos-12
            compiler: xcode
            version: "14"
            mpi: false
            beagle: false
  
          - name: windows
            os: ubuntu-latest
            compiler: idk
            version: "9000"
            mpi: false
            beagle: false


    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - name: Install (Linux)
      if: runner.os == 'Linux' && matrix.name != 'windows'
      run: |
        sudo apt-get update
        sudo apt-get install -y libcairo2-dev ccache libopenlibm-dev
        sudo apt-get install libeigen3-dev libhmsbeagle-dev
        if [ "${{ matrix.compiler }}" = "gcc" ]; then
          sudo apt-get install -y g++-${{ matrix.version }}
          echo "C_COMPILER=gcc-${{ matrix.version }}" >> $GITHUB_ENV
          echo "CXX_COMPILER=g++-${{ matrix.version }}" >> $GITHUB_ENV
          echo "CC=gcc-${{ matrix.version }}" >> $GITHUB_ENV
          echo "CXX=g++-${{ matrix.version }}" >> $GITHUB_ENV
        else
          sudo apt-get install -y clang-${{ matrix.version }}
          echo "C_COMPILER=clang-${{ matrix.version }}" >> $GITHUB_ENV
          echo "CXX_COMPILER=clang++-${{ matrix.version }}" >> $GITHUB_ENV
          echo "CC=clang-${{ matrix.version }}" >> $GITHUB_ENV
          echo "CXX=clang++-${{ matrix.version }}" >> $GITHUB_ENV
        fi
        if [ "${{ matrix.mpi }}" = true ] ; then
          sudo apt-get install libopenmpi-dev
        fi
        sudo -H pip3 install meson
        sudo -H pip3 install ninja

    - name: Select XCode version (macOS)
      if: runner.os == 'macOS'
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: ${{ matrix.version }}

    - name: Install (macOS)
      if: runner.os == 'macOS'
      run: |
          brew install pkg-config pandoc boost ccache coreutils openlibm
          brew install eigen beagle

    - name: Install (Windows meson cross compile)
      if: matrix.name == 'windows'
      run: |
          sudo apt-get update
          sudo apt-get install -y pandoc libcairo2-dev ccache dos2unix zstd
          sudo apt-get install git python3-setuptools python3-pip g++-mingw-w64 wine64
          sudo -H pip3 install meson
          sudo -H pip3 install ninja

    # Caches for different branches are isolated, so we don't need to put the branch name into the key.
    # The total size for all caches in a repository is 5Gb.

    - name: Prepare ccache timestamp
      id: ccache_cache_timestamp
      run: |
        ccache --set-config=cache_dir=$HOME/.ccache

        export CMAKE_C_COMPILER_LAUNCHER=ccache
        export CMAKE_CXX_COMPILER_LAUNCHER=ccache

        if [ "$RUNNER_OS" = "Linux" ] ; then
          stamp=$(date '+%s')
        else
          stamp=$(gdate '+%s')
        fi
        echo "${stamp}"
        echo "timestamp=${stamp}" >> $GITHUB_OUTPUT

    - name: ccache cache files
#      uses: actions/cache@v2
#     We want to cache the build artifacts whether or not the tests succeed.
      uses: pat-s/always-upload-cache@v3.0.11
      with:
         path: ~/.ccache
         key: ${{ matrix.name }}-ccache-${{ steps.ccache_cache_timestamp.outputs.timestamp }}
         restore-keys: |
           ${{ matrix.name }}-ccache-

    - name: Install BOOST (Linux)
      if: runner.os == 'Linux' && matrix.name != 'windows'
      run: |
        # Don't use weird boost version installed by github actions.
        sudo rm -rf /usr/local/share/boost

        # Maybe install a particular boost version.
        if [ -n "${{ matrix.install_boost }}" ] ; then
          sudo apt-get remove libboost-all-dev
          sudo add-apt-repository ppa:mhier/libboost-latest
          sudo apt-get update
          sudo apt-get install -y libboost${{ matrix.install_boost }}-dev
        else
          sudo apt-get install -y libboost-all-dev
        fi

    - name: Install BOOST and set up build (Windows meson cross compile)
      if: matrix.name == 'windows'
      env:
        USE_MPI: ${{ matrix.mpi }}
      run: |
        ${GITHUB_WORKSPACE}/projects/meson/make_winroot.sh -ccache true -gtk true
        ( cd ${GITHUB_WORKSPACE}/projects/meson/ ; ./generate.sh )
        
    - name: Update submodules
      run: |
        git submodule update --init --recursive
        
    - name: Configure and build
      if: matrix.name != 'windows'
      env:
        USE_MPI: ${{ matrix.mpi }}
        OSX_VERSION_MIN: "10.14"
      run: |
        if [ ${{ matrix.arch }} = "mac64" ] && [ -n "${OSX_VERSION_MIN}" ]; then
          MIN="-mmacosx-version-min=${OSX_VERSION_MIN}"
          export CFLAGS="$CFLAGS $MIN"
          export CXXFLAGS="$CXXFLAGS $MIN"
          export LDFLAGS="$LDFLAGS $MIN"
        fi

        ccache -p
        ccache -s

        if [ "${{ matrix.beagle }}" = true ] ; then
            ( cd ${GITHUB_WORKSPACE}/projects/meson/ ; ./generate.sh )
            /usr/local/bin/meson setup build ${GITHUB_WORKSPACE} --prefix=$HOME/local -Dopenlibm=true -Dmpi=${{ matrix.mpi }} -Dbeagle=${{ matrix.beagle }}
           /usr/local/bin/ninja -C build install
        else
           cd projects/cmake
           ./build.sh -travis true -DCMAKE_INSTALL_PREFIX=$HOME/local -mpi ${{ matrix.mpi }} -beagle ${{ matrix.beagle }} -eigen ${{ matrix.beagle }}
           cmake --install build
        fi

        ccache -s

    - name: Configure and build (Windows meson cross compile)
      if: matrix.name == 'windows'
      env:
        BOOST_ROOT: /home/runner/win_root/mingw64/
      run: |
        CXX=x86_64-w64-mingw32-g++-posix
        PREFIX=${HOME}/local
        WINROOT=/home/runner/win_root
        /usr/local/bin/meson setup build ${GITHUB_WORKSPACE} --prefix=$PREFIX --cross-file=win64-cross.txt -Dopenlibm=true -Dstudio=true
        ccache -p
        ccache -s
        /usr/local/bin/ninja -C build install
        ccache -s
        cp $($CXX --print-file-name libgcc_s_seh-1.dll)   $PREFIX/bin
        cp $($CXX --print-file-name libstdc++-6.dll)      $PREFIX/bin
        cp $($CXX --print-file-name libssp-0.dll)         $PREFIX/bin
        cp $($CXX --print-file-name libwinpthread-1.dll)  $PREFIX/bin
        cp $WINROOT/mingw64/bin/libboost_*.dll            $PREFIX/bin
        cp $WINROOT/mingw64/bin/libopenlibm.dll           $PREFIX/bin
        ( echo '#!/bin/bash'
          echo "cp $PREFIX/bin/* ."
          echo 'if [ "$#" -gt "1" ]; then'
          echo '  wine64 rb.exe ${@:1:$#-1} $(winepath -w ${@: -1} | sed "s,\\\\,\\\\\\\\,g")'
          echo 'else'
          echo '  wine64 rb.exe $(winepath -w ${1} | sed "s,\\\\,\\\\\\\\,g")'
          echo 'fi'
          echo 'rm -f *.exe'
          echo 'rm -f *.dll' ) > $PREFIX/bin/rb
        chmod +x $PREFIX/bin/rb

    - name: Test
      env:
        USE_MPI: ${{ matrix.mpi }}
        IS_WINDOWS: ${{ matrix.name == 'windows' }}
      run: |
        export PATH=${HOME}/local/bin:$PATH

        echo "\"Hello World\"" | rb
        echo ::group::Test suite
        cd tests
        if [ ${{ matrix.beagle }} = true ] ; then
           RB_ARGS="--setOption useBeagle=true --setOption beagleDevice=cpu_sse"
        fi
        ./run_integration_tests.sh -mpi ${USE_MPI} -windows ${IS_WINDOWS} rb $RB_ARGS
        cd
        echo ::endgroup::
        echo ::group::testiphy
        git clone https://gitlab.com/testiphy/testiphy.git
        cd testiphy
        ./testiphy rb
        echo ::endgroup::

    - name: Upload test files if they failed
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: test-results-${{ matrix.name }}
        path: tests

    - name: Upload testiphy files if they failed
      uses: actions/upload-artifact@v3
      if: failure()
      with:
        name: testiphy-results-${{ matrix.name }}
        path: '~/testiphy'

  notify:
    name: Notify Slack
    needs: build
    runs-on: ubuntu-latest
    if: always()
    steps:
    - uses: technote-space/workflow-conclusion-action@v3
    - uses: 8398a7/action-slack@v3
      with:
        status: custom
        fields: workflow,commit,repo,ref,author
        custom_payload: |
          {
            username: 'action-slack',
            attachments: [{
              color: '${{ env.WORKFLOW_CONCLUSION }}' === 'success' ? 'good' : '${{ env.WORKFLOW_CONCLUSION }}' === 'failure' ? 'danger' : 'warning',
              text: `${process.env.AS_WORKFLOW} (${process.env.AS_COMMIT}) of ${process.env.AS_REPO}@${process.env.AS_REF} by ${process.env.AS_AUTHOR}: ${{ env.WORKFLOW_CONCLUSION }}`,
            }]
          }
      env:
        SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
